<!DOCTYPE html>
<html lang="en">
    <%- include("../header"); %>
    <body>
        <%- include("../menu"); %>

        <div class="card" style="max-width: 1500px; margin: auto; display: block;">
            <div>
                
            </div>
        </div>
    </body>
</html>