<!DOCTYPE html>
<html lang="en">
  <%- include("header"); %>
<body>

  <!-- Start your project here-->  
  <%- include("menu") %>

  <!-- Jumbotron -->
  <div class="jumbotron text-center" style="max-width: 1500px; margin:auto;">

    <!-- Title -->
    <div class="justify-content-center">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 mb-3">
          <h2 class="card-title h1">Dimi Poker</h2>
          <!-- Subtitle -->
          <p class="blue-text my-4 font-weight-bold">Powerful and free Poker Game</p>
        
          <!-- Grid row -->
          <div class="row d-flex justify-content-center">
        
            <!-- Grid column -->
            <div class="col-xl-7 pb-2">
        
              <p class="card-text"></p>
        
            </div>
            <!-- Grid column -->
        
          </div>
          <!-- Grid row -->
          <!-- Search form -->
          <%- include("search"); %>
        </div>
        <div class="col-md-3 text-left">
          <div class="card">
            <div class="card-header py-2">
              Now Playing
            </div>
            <ul class="list-group" id="nowPlaying">
              
            </ul>
          </div>
          
        </div>
      </div>


    </div>
    
    <hr class="my-5">

    <h3 class="card-title h2"> Download Game </h3>
  
    <div class="pt-2">
      <a type="button" class="btn btn-outline-primary waves-effect" href="/api/download/pc"> PC <i class="fas fa-download ml-1"></i></a>
      <a type="button" class="btn btn-outline-primary waves-effect" href="/api/download/android"> Android <i class="fab fa-android fa-lg ml-1"></i></a>
    
    </div>
  
  </div>
  <!-- Jumbotron -->

  <!-- End your project here-->

  <%- include("footer") %>

  <script>
    $(document).ready(() => {
      updateNowPlaying();
      setInterval(updateNowPlaying, 15000);
    });

    function updateNowPlaying(){
      $.ajax({
        url: "/api/player/nowPlaying",
        type: "get"
      })
      .done((playingArr) => {
        var html = "";
        if(playingArr.length != 0){
          playingArr.forEach(player => {
            html += `<li class="list-group-item list-group-item-action py-1"
            style="cursor: pointer;"
              onclick="location.href='/api/player?nick=${player.nick}'"
              > ${player.nick} 
              </li>`;
          });
        } else {
          html = `<div class="p-2 px-3">(None)</div>`;
        }
        $("#nowPlaying").empty();
        $("#nowPlaying").append(html);
      })
      .fail((request, status, error) => {
          alert(request.responseText);
      });
    }

  </script>

</body>
</html>
