<!DOCTYPE html>
<html lang="en">
  <%- include("header"); %>
<body>

  <!-- Start your project here-->  
  <%- include("menu") %>

  <!-- Jumbotron -->
  <div class="jumbotron text-center" style="max-width: 1500px; margin:auto;">

    <!-- Title -->
    <h2 class="card-title h1">Dimi Poker</h2>
    <!-- Subtitle -->
    <p class="blue-text my-4 font-weight-bold">Powerful and free Material Design UI KIT</p>
  
    <!-- Grid row -->
    <div class="row d-flex justify-content-center">
  
      <!-- Grid column -->
      <div class="col-xl-7 pb-2">
  
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga aliquid dolorem ea distinctio exercitationem delectus qui, quas eum architecto, amet quasi accusantium, fugit consequatur ducimus obcaecati numquam molestias hic itaque accusantium doloremque laudantium, totam rem aperiam.</p>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
    <!-- Search form -->
    <%- include("search"); %>
    
    <hr class="my-5">

    <h3 class="card-title h2"> Download Game </h3>
  
    <div class="pt-2">
      <a type="button" class="btn btn-outline-primary waves-effect" href="/api/download/pc"> PC <i class="fas fa-download ml-1"></i></a>
      <a type="button" class="btn btn-outline-primary waves-effect" href="/api/download/android"> Android <i class="fab fa-android fa-lg ml-1"></i></a>
    
    </div>
  
  </div>
  <!-- Jumbotron -->

  <!-- End your project here-->

  <%- include("footer") %>

</body>
</html>
