
<!DOCTYPE html>
<html lang="en">
  <%- include("../header"); %>
<body>

  <!-- Start your project here-->  
  <%- include("../menu") %>

  <!-- 등록 시작 -->

  
<!-- Material form register -->
<div class="card" style="max-width: 1500px; margin: auto; display: block;">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Sign up</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form class="text-center" style="color: #757575;" action="#!" id="signupForm">
            <!-- id -->
            <div class="md-form">
                <input type="text" id="id" class="form-control" required>
                <label for="id">Id</label>
                <small id="formIdHelpBlock" class="form-text text-muted mb-4" style ="text-align: left;">
                    
                </small>
            </div>

            <!-- Nickname -->
            <div class="md-form mt-0">
                <input type="text" id="nick" class="form-control" required>
                <label for="nick">Nickname</label>
                <small id="formNickHelpBlock" class="form-text text-muted mb-4" style="text-align: left;">
                    
                </small>
            </div>

            <!-- Password -->
            <div class="md-form">
                <input type="password" id="password" class="form-control" aria-describedby="password" required>
                <label for="password">Password</label>
            </div>
            <!-- Password Confirmation-->
            <div class="md-form">
                <input type="password" id="confirm-password" class="form-control" aria-describedby="password" required>
                <label for="confirm-password" >Confirm Password</label>
                <small id="formPasswordHelpBlock" class="form-text text-muted mb-4" style="text-align: left;">
                    
                </small>
            </div>

            <!-- Sign up button -->
            <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit" id="signup-btn">Sign up</button>

        </form>
        <!-- Form -->

    </div>

</div>
<!-- Material form register -->

  <!-- 등록 끝 -->

  <!-- End your project here-->

  <%- include("../footer") %>

  <script>
      $(function() {
          $("#signupForm").submit((event) => {
              event.preventDefault();
              //등록
              const id = $("#id").val();
              const nick = $("#nick").val();
              const passwd = $("#password").val();

              $.ajax({
                  url:"/api/player/signup",
                  type: "POST", //post
                  data: { id, nick, passwd }
              })
              .done(() => {
                  location.href = "/api/player/login";
              })
              .fail((request, status, error) => {
                  alert(request.responseText);
              });
          });

          $("#confirm-password").keyup(() => {
              const isConfirmed = $("#password").val() === $("#confirm-password").val()
              $("#signup-btn").prop("disabled", !isConfirmed);
              $("#formPasswordHelpBlock").text(isConfirmed ? "" : "Must match Passowrd");
          })

          $("#id").focusout((event) => {
              event.preventDefault();
              const id = $("#id").val();
              if(id){
                $.ajax({
                    url: "/api/player/check-id/" + id,
                    type: "get"
                })
                .done((isAvailable) => {
                    $("#formIdHelpBlock").text(isAvailable ? "" : "Id not Available");
                })
                .fail((request, status, error) => {
                    alert(request.responseText);
                })
            }
          })
          $("#nick").focusout((event) => {
              event.preventDefault();
              const nick = $("#nick").val();
              if(nick.includes('/', '?')){
                $("#formNickHelpBlock").text("Can't use /, ?");
                $("#signup-btn").prop("disabled", true);
              }

              if(nick){
                $.ajax({
                    url: "/api/player/check-nick/" + nick,
                    type: "get"
                })
                .done((isAvailable) => {
                    $("#formNickHelpBlock").text(isAvailable ? "" : "Nick not Available");
                })
                .fail((request, status, error) => {
                    alert(request.responseText);
                })
            }
          })
      });
  </script>

</body>
</html>
